body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-items: center;
    background-color: burlywood;
    height: 50px;
}

#logo {
    width: 100%;
}

img {
    width: 160px;
}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}